@import "bootstrap";

$gray-medium-light: #eaeaea;
$gray-light: #ddd;
$gray-medium-light:#ddd;
$gray:#ddd;
$gray-darker:#ddd;
$state-danger-text: #d52025;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
