<main class="py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form action="" method="">
          <%= render "tests/form"%>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
            t(".get_result")
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
